<!-- <input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<p>{{title}}</p> -->

<h3 class='ui red huge header'>I am in the appComponent</h3>
<button class="ui primary button">Test</button>
<hr>
<app-servers></app-servers>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semantic</title>
</head>
<body>
    <div class="ui container">
        <h1 class="ui huge header">Heading 1</h1>
        <h2 class="ui large header">Heading 2</h2>
        <h3 class="ui medium header">Heading 3</h3>
        <h4 class="ui small header">Heading 4</h4>
        <h5 class="ui tiny header">Heading 5</h5>
        <h6 class="ui mini header">Heading 6</h6>
    </div>

    <hr>

    <div class="ui container">
        <button class="ui button">Read More</button>
        <button class="ui primary button">Read More</button>
        <button class="ui secondary button">Read More</button>
        <button class="ui positive button">Read More</button>
        <button class="ui negative button">Read More</button>
        <br><br>
        <button class="ui disabled red button">Read More</button>
        <button class="ui loading blue button">Read More</button>
        <button class="ui green button">Read More</button>
        <button class="ui massive purple button">Read More</button>
        <button class="ui huge yellow button">Read More</button>
        <button class="ui big brown button">Read More</button>
        <button class="ui large orange button">Read More</button>
        <button class="ui medium olive button">Read More</button>
        <button class="ui small teal button">Read More</button>
        <button class="ui tiny violet button">Read More</button>
        <button class="ui mini grey button">Read More</button>
        <br><br>
        <button class="ui basic fluid button">Read More</button>
        <button class="ui basic red button">Read More</button>
        <button class="ui basic green button">Read More</button>
        <button class="ui basic blue button">Read More</button>
        <button class="ui basic teal button">Read More</button>
        <button class="ui basic brown button">Read More</button>
    </div>

    <hr>

    <button class="ui animated fade button">
        <span class="visible content">Next</span>
        <span class="hidden content">
            <i class="right arrow icon"></i>        
        </span>
    </button>

    <div class="ui icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Type here...">
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui loading primary button">Click Me</div>
    <div class="ui disabled button">Disabled</div>
</body>
</html> -->

<!-- <div class="ui menu">
        <a class="ui simple dropdown item">
          File
          <div class="menu">
            <div class="item">New Application Window</div>
            <div class="item">Open...</div>
            <div class="item">Company Profile</div>
            <div class="item">Product Activation</div>
            <div class="item">Logon</div>
            <div class="item">Change Password...</div>
            <div class="item"><hr></div>
            <div class="item">Backup Database...</div>
            <div class="item">Show Active Connections...</div>
            <div class="item">Data Import...</div>
            <div class="item">
                <i class="dropdown icon"></i>
                <span class="text">Data Import (SQL Payroll)</span>
                <div class="menu">
                    <div class="item">Save GL Account To File</div>
                    <div class="item">Import Payment Voucher / Journal Entry...</div>
                </div>
            </div>
            <div class="item"><hr></div>
            <div class="item">Close</div>
            <div class="item">Close All</div>
            <div class="item"><hr></div>
            <div class="disabled item">
                <i class="dropdown icon"></i>
                <span class="text">Export Report</span>
            </div>
            <div class="item">Printer Setup...</div>
            <div class="item"><hr></div>
            <div class="item">Customize SQL Account Modules</div>
            <div class="item"><hr></div>
            <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">Run</span>
                    <div class="menu">
                        <div class="item">Congifure Programs...</div>
                    </div>
                </div>
            <div class="item">Exit</div>    
          </div>
        </a>
        <a class="ui simple dropdown item">
          Edit
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Undo&emsp;&emsp;&emsp;&emsp;Ctrl+Z</div>
            <div class="item"><hr></div>
            <div class="item">Cut&emsp;&emsp;&emsp;&emsp;&emsp;Ctrl+X</div>
            <div class="item">Copy&emsp;&emsp;&emsp;&emsp;Ctrl+C</div>
            <div class="item">Paste&emsp;&emsp;&emsp;&emsp;Ctrl+V</div>
            <div class="item">Clear</div>
            <div class="item">Select All&emsp;&emsp;&emsp;Ctrl+A</div>
          </div>
        </a>
        <a class="item">
          Browse
        </a>
      </div>

      <div class="ui grid">
            <div class="four wide column">
              <div class="ui vertical fluid tabular menu">
                <a class="item">
                  G. Ledger
                </a>
                <a class="item">
                    Customer
                </a>
                <a class="item">
                    Supplier
                </a>
                <a class="item">
                    Sales
                </a>
                <a class="item">
                    Purchasae    
                </a>
                <a class="item">
                    Stock
                </a>
              </div>
            </div>
            <div class="twelve wide stretched column">
              <div class="ui segment">
                This is an stretched grid column. This segment will always match the tab height
              </div>
            </div>
          </div> -->