<div class="ui left demo inverted vertical sidebar labeled icon menu">
  <a class="item" routerLink="/gledger" routerLinkActive="active">
    <i class="red archive icon"></i>
    <span style="color:red">G. Ledger</span>
  </a>
  <a class="item" routerLink="/customer" routerLinkActive="active">
    <i class="orange user icon"></i>
    <span style="color:orange">Customer</span>
  </a>
  <a class="item" routerLink="/supplier" routerLinkActive="active">
    <i class="yellow user outline icon"></i>
    <span style="color:yellow">Supplier</span>
  </a>
  <a class="item" routerLink="/sales" routerLinkActive="active">
    <i class="green cube icon"></i>
    <span style="color:aquamarine">Sales</span>
  </a>
  <a class="item" routerLink="/purchase" routerLinkActive="active">
    <i class="blue cube icon"></i>
    <span style="color:skyblue">Purchase</span>
  </a>
  <a class="item" routerLink="/stock" routerLinkActive="active">
    <i class="violet cubes icon"></i>
    <span style="color:violet">Stock</span>
  </a>
</div>