<div class="ui icon menu">
  <div class="ui huge red basic fluid icon buttons">
    <button class="ui button" data-position="bottom left" data-tooltip="Cut (Ctrl + X)">
      <i class="cut icon"></i>
    </button>
    <button class="ui button" data-position="bottom center" data-tooltip="Copy (Ctrl + C)">
      <i class="copy icon"></i>
    </button>
    <button class="ui button" data-position="bottom right" data-tooltip="Paste (Ctrl + V)">
      <i class="paste icon"></i>
    </button>
  </div>
  <div class="ui huge orange basic fluid icon buttons">
    <button class="ui button" data-position="bottom left" data-tooltip="Go to First Record">
      <i class="step backward icon"></i>
    </button>
    <button class="ui button" data-position="bottom center" data-tooltip="Go to Previous Record">
      <i class="backward icon"></i>
    </button>
    <button class="ui button" data-position="bottom center" data-tooltip="Go to Next Record">
      <i class="forward icon"></i>
    </button>
    <button class="ui button" data-position="bottom right" data-tooltip="Go to Last Record">
      <i class="step forward icon"></i>
    </button>
  </div>
  <div class="ui huge green basic fluid icon buttons">
    <button class="ui button" data-position="bottom left" data-tooltip="New Record (Ins)">
      <i class="add circle icon"></i>
    </button>
    <button class="ui button" data-position="bottom center" data-tooltip="Edit Record (F2)">
      <i class="edit icon"></i>
    </button>
    <button class="ui button" data-position="bottom center" data-tooltip="Delete Record">
      <i class="remove icon"></i>
    </button>
    <button class="ui button" data-position="bottom center" data-tooltip="Save Record (F3)">
      <i class="save icon"></i>
    </button>
    <button class="ui button" data-position="bottom right" data-tooltip="Cancel Record">
      <i class="remove circle icon"></i>
    </button>
  </div>
  <div class="ui huge blue basic fluid icon buttons">
    <button class="ui button" data-position="bottom left" data-tooltip="Find">
      <i class="search icon"></i>
    </button>
    <button class="ui button" data-position="bottom right" data-tooltip="Refresh">
      <i class="refresh icon"></i>
    </button>
  </div>
  <div class="ui huge violet basic fluid icon buttons">
    <button class="ui button" data-position="bottom center" data-tooltip="Print">
      <i class="print icon"></i>
      <i class="dropdown icon"></i>
    </button>
    <button class="ui button" data-position="bottom right" data-tooltip="Preview">
      <i class="file icon"></i>
    </button>
  </div>
  <div class="right item">
    <app-clock></app-clock>
  </div>
</div>