<div class="ui huge blue top attached tabular menu" (click)="onChangeTab()">
  <div class="item">
    <div class="ui massive breadcrumb">
      <a class="section" routerLink="/sales" routerLinkActive="active">Sales</a>
      <i class="right chevron icon divider"></i>
      <div class="active section">Documents and Reports</div>
    </div>
  </div>
  <div class="right menu">
    <a class="active item" data-tab="document">
      <span>Documents</span>
    </a>
    <a class="item" data-tab="report">
      <span>Reports</span>
    </a>
  </div>
</div>

<div class="ui massive bottom attached active tab segment" data-tab="document">
  <div class="ui center aligned three column grid">
    <div class="row">
      <div class="column">
        <div class="ui massive red circular animated fade button">
          <div class="visible content">
            <i class="huge file text icon"></i>
          </div>
          <div class="hidden content">
            <i class="loading file text icon"></i>
            Sales Order
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui massive orange circular animated fade button">
          <div class="visible content">
            <i class="huge file text icon"></i>
          </div>
          <div class="hidden content">
            <i class="loading file text icon"></i>
            Debit Note
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui massive yellow circular animated fade button">
          <div class="visible content">
            <i class="huge file text icon"></i>
          </div>
          <div class="hidden content">
            <i class="loading file text icon"></i>
            Quotation
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui massive green circular animated fade button">
          <div class="visible content">
            <i class="huge file text icon"></i>
          </div>
          <div class="hidden content">
            <i class="loading file text icon"></i>
            Invoice
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui massive blue circular animated fade button">
          <div class="visible content">
            <i class="huge file text icon"></i>
          </div>
          <div class="hidden content">
            <i class="loading file text icon"></i>
            Credit Note
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui massive violet circular animated fade button">
          <div class="visible content">
            <i class="huge shipping icon"></i>
          </div>
          <div class="hidden content">
            <i class="loading shipping icon"></i>
            Delivery Order
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui massive purple circular animated fade button">
          <div class="visible content">
            <i class="huge money icon"></i>
          </div>
          <div class="hidden content">
            <i class="loading money icon"></i>
            Cash Sales
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui massive attached tab segment" data-tab="report">
  <div class="ui center aligned three column grid">
    <div class="row">
      <div class="column">
        <div class="ui massive red circular animated fade button">
          <div class="visible content">
            <i class="huge print icon"></i>
          </div>
          <div class="hidden content">
            Back Order Report
            <i class="large loading print icon"></i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui massive orange circular animated fade button">
          <div class="visible content">
            <i class="huge print icon"></i>
          </div>
          <div class="hidden content">
            Sales Analysis by Document
            <i class="large loading print icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui massive yellow circular animated fade button">
          <div class="visible content">
            <i class="huge print icon"></i>
          </div>
          <div class="hidden content">
            Sales Document Listing
            <i class="large loading print icon"></i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui massive green circular animated fade button">
          <div class="visible content">
            <i class="huge print icon"></i>
          </div>
          <div class="hidden content">
            Sales Price History
            <i class="large loading print icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui massive blue circular animated fade button">
          <div class="visible content">
            <i class="huge print icon"></i>
          </div>
          <div class="hidden content">
            Profit & Loss by Document
            <i class="large loading print icon"></i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui massive violet circular animated fade button">
          <div class="visible content">
            <i class="huge print icon"></i>
          </div>
          <div class="hidden content">
            Yearly Sales Analysis
            <i class="large loading print icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>